footer {
  bottom: 0;
  display: block;
  font-size: 11px;
  left: 50%;
  opacity: 0;
  padding: 1rem;
  position: fixed;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
  width: max-content;
}

footer a {
  color: var(--anchor);
}

footer:hover {
  opacity: 1;
}
