button {
  background-color: var(--dark-gray-blue);
  border: 0;
  border-radius: 8rem;
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  outline: none;
  padding: 1rem;
  width: 100%;
}

button:active,
button:hover {
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}
